.raw-materials-container {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.raw-materials-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.raw-materials-table thead tr:first-child th:first-child {
  border-top-left-radius: 12px;
}

.raw-materials-table thead tr:first-child th:last-child {
  border-top-right-radius: 12px;
}

.raw-materials-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.raw-materials-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
  white-space: nowrap;
  width: 150px;
}

.raw-materials-table th,
.raw-materials-table td {
  padding: 12px;
  font-size: 16px;
  text-align: center;
}

.raw-materials-table thead {
  background: #d2691e;
  color: white;
}

.raw-materials-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.raw-materials-table tbody tr td {
  font-size: 14px;
  color: #555;
}

.table-heading {
  background: #d2691e;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.actionButtonsDel {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.actionButtonsDel:hover {
  background-color: #cc0000;
}

.actionButtonsUp {
  background-color: #4caf50;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.actionButtonsUp:hover {
  background-color: #45a049;
}

.add-stock-button-container {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}

.add-stock-button {
  background-color: #d2691e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  left: 347px;
  top: 0;
}

.add-stock-button:hover {
  background-color: #e4833e;
}
