.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #080504; 
  padding: 150px 0;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}

.sidebar-links-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-links li {
  width: 100%;
  padding: 15px 20px; 
}

.sidebar-links li a {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 12px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  border-radius: 8px;
  padding: 10px 0;  
}


.sidebar-links li a:hover {
  background-color: #1a1a19;
  color: #ff5722;
}

.sidebar-links li a.active {
  color: #ff5722;
  font-weight: 600;
}


.sidebar-links li + li {
  border-top: 1px solid white;  
}

.icon {
  font-size: 18px;
  color: inherit;
}


@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
